@using GongChaWebApplication.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<String> PowerUserLevels = new List<String>() { "manager", "director" };
    var CurrentMember = (Member)Session["CurrentMember"];
    var CurrentAccessLevel = CurrentMember == null ? "" : CurrentMember.AccessLevel;
}
@section styles {
    @RenderSection("styles", required: false)
}

<div class="col-md-2">
    @*Main Menu*@
    <div class="page-header hidden-xs">
        @if (CurrentAccessLevel!=MemberAccessLevels.STAFF){
        <div>
            Stocks
            <ul class="nav nav-sidebar nav-pills nav-stacked">
                @if (CurrentAccessLevel == MemberAccessLevels.WAREHOUSE_MANAGER || CurrentAccessLevel == MemberAccessLevels.DIRECTOR)
                {
                    <li>@Html.ActionLink("Stock Purchase", "Index", "StockPurchase")</li>
                }
                <li>@Html.ActionLink("Stock Take", "Index", "StockTake")</li>
                <li>@Html.ActionLink("Transfer Orders", "Index", "TransferOrder")</li>
            </ul>
        </div>
        }
        <div>
            Reports
            <ul class="nav nav-sidebar nav-pills nav-stacked">
                <li>@Html.ActionLink("Current Stock Level", "Index", "StockCheck")</li>
                @if (CurrentAccessLevel!=MemberAccessLevels.STAFF){
                <li>@Html.ActionLink("Stock Usage", "Index", "ItemUsage")</li>
                }
            </ul>
        </div>
        @if (CurrentAccessLevel == MemberAccessLevels.WAREHOUSE_MANAGER || CurrentAccessLevel == MemberAccessLevels.DIRECTOR)
        {
            <div>
                Settings        
            <ul class="nav nav-sidebar nav-pills nav-stacked">
                <li>@Html.ActionLink("Items", "Index", "Item")</li>
                <li>@Html.ActionLink("Manage Units", "Index", "Unit")</li>

                <li><a href="#" style="text-decoration: line-through;">Export</a></li>
            </ul>
            </div>
        }
    </div>
    @*Mobile Menu*@
    <div class="page-header visible-xs">
        <ul class="nav nav-sidebar nav-pills">
            @if (CurrentAccessLevel!=MemberAccessLevels.STAFF){
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stocks<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    @if (CurrentAccessLevel == MemberAccessLevels.WAREHOUSE_MANAGER || CurrentAccessLevel == MemberAccessLevels.DIRECTOR)
                    {
                        <li>@Html.ActionLink("Stock Purchase", "Index", "StockPurchase")</li>
                    }
                    <li>@Html.ActionLink("Stock Take", "Index", "StockTake")</li>
                    <li>@Html.ActionLink("Transfer Orders", "Index", "TransferOrder")</li>
                </ul>
            </li>
            }
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Current Stock Level", "Index", "StockCheck")</li>
                    @if (CurrentAccessLevel!=MemberAccessLevels.STAFF){
                        <li>@Html.ActionLink("Stock Usage", "Index", "ItemUsage")</li>
                    }
                </ul>
            </li>
            @if (CurrentAccessLevel == MemberAccessLevels.WAREHOUSE_MANAGER || CurrentAccessLevel == MemberAccessLevels.DIRECTOR)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Items", "Index", "Item")</li>
                        <li>@Html.ActionLink("Manage Units", "Index", "Unit")</li>

                        <li><a href="#" style="text-decoration: line-through;">Export</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>
<div class="col-md-10">
    @RenderBody()
</div>


@section scripts {
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        /*menu handler*/
        $(function () {
            function stripTrailingSlash(str) {
                if (str.substr(-1) == '/') {
                    return str.substr(0, str.length - 1);
                }
                return str;
            }

            var url = window.location.pathname;
            var activePage = stripTrailingSlash(url);

            $('.nav li a').each(function () {
                var activeController = "@Request.RequestContext.RouteData.Values["controller"].ToString()";
                var currentPage = stripTrailingSlash($(this).attr('href'));
                var currentController = currentPage.split("/")[1];
                if (activeController == currentController) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
}