@model GongChaWebApplication.Models.MemberChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_RosterLayout.cshtml";
}

<h2>@(ViewBag.Title)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        @Html.HiddenFor(model => model.MemberId)

        <div class="display-label">
            @Html.LabelFor(model => model.Member.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Member.Name)
            @Html.ValidationMessageFor(model => model.Member.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Member.Store)
        </div>
        <div class="display-field">
            @if (Model.Member.Store != null)
            {
                @Html.DisplayFor(model => model.Member.Store.Name)
            }
            else
            {
                @Html.Raw(" / ")
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" ,@style="max-width:200px;"})
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" ,@style="max-width:200px;"})
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.Label("Enter New Password Again")
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPasswordDuplicate, new { @class = "form-control" ,@style="max-width:200px;"})
            @Html.ValidationMessageFor(model => model.NewPasswordDuplicate)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}