@model GongChaWebApplication.Models.Member

@{
    ViewBag.Title = "Delete Member";
    Layout = "~/Views/Shared/_RosterLayout.cshtml";
}

<h2>@(ViewBag.Title)</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Member</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    @*    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>*@

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AccessLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessLevel)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastLogin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLogin)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Store)
    </div>
    <div class="display-field">
        @if (Model.Store != null)
        {
            @Html.DisplayFor(model => model.Store.Name)
        }
        else
        {
            @Html.Raw(" / ")
        }
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.AuthCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthCode)
    </div>*@
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
}
