@model GongChaWebApplication.Models.Stock

@{
    ViewBag.Title = "Create Stock Take For " + Model.Location.Name;
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>@(ViewBag.Title)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Stock</legend>

        @Html.HiddenFor(model => model.MemberId)
        @*@Html.HiddenFor(model=>model.Checker)*@
        @Html.HiddenFor(model => model.LocationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId, "Item")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ItemId", String.Empty)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @*@Html.DropDownList("PackageUnitId", String.Empty)*@
            <span id="packageunit"></span>
            @Html.ValidationMessageFor(model => model.Quantity)
            @*@Html.ValidationMessageFor(model => model.PackageUnitId)*@
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.LocationId, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocationId", String.Empty)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List", new { id = Model.LocationId }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $("#ItemId").change(function () {
            var $id = $("#ItemId").val();
            $.getJSON("@Url.Action("GetLatestStock", "Stock")/?LocationId=" +@(Model.LocationId) +"&ItemId=" + $id, function (data) {
                var $packageUnit = $("#packageunit");
                var $quantity = $("#Quantity");
                $packageUnit.html(data.Item.PackageUnit.Symbol);
                $quantity.val(data.Quantity);
            });
        }
        )
    });
</script>
