@model GongChaWebApplication.Models.Unit

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Unit</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChinName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChinName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unitType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitType)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })
    </p>
}
