@model GongChaWebApplication.Models.Message

@using GongChaWebApplication.Models;
@{
    var CurrentMember = (Member)ViewBag.CurrentMember;
}
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.WriterId)
<tr class="row" style="background-color: #cccccc">
    <th class="col-md-2">
        @Html.DisplayNameFor(model => model.Title) : @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </th>
    <th class="col-md-10" colspan="2">@Html.DisplayNameFor(model => model.Content)</th>
</tr>
<tr class="row">
    <td class="col-md-2">
        @Html.DisplayNameFor(model => model.Writer) : @Html.DisplayFor(model => model.Writer.Name)
    </td>
    <td class="col-md-10" rowspan="3" colspan="2">
        <div class="container" style="width: 100%; height: 100%; box-sizing: border-box; padding: 0; margin: 0;">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @style = "width:100%; height:100%;min-height:150px;padding:0;margin:0;overflow:auto;resize:none;", @placholder = "Edit Message Content Here..." })
        </div>
    </td>
</tr>
<tr class="row">
    <td class="col-md-2">
        @Html.HiddenFor(model => model.PostTime)
        <p>@Html.DisplayNameFor(model => model.PostTime) :</p>
        <p>@Html.DisplayFor(model => model.PostTime)</p>
    </td>
</tr>
<tr class="row">
    <td class="col-md-2">
        @Html.HiddenFor(model => model.EditTime)
        <p>@Html.DisplayNameFor(model => model.EditTime) :</p>
        <p>@Html.DisplayFor(model => model.EditTime)</p>
    </td>
</tr>
<tr class="row" style="background-color: #eeeeee">
    <td class="col-md-2">
        @Html.DisplayNameFor(model => model.IsAnnoucement) :
        @if (CurrentMember != null &&
            (CurrentMember.AccessLevel == MemberAccessLevels.DIRECTOR ||
            CurrentMember.AccessLevel == MemberAccessLevels.MANAGER
            )
            )
        {
            @Html.EditorFor(model => model.IsAnnoucement)
        }
        else
        {
            @Html.DisplayFor(model => model.IsAnnoucement)
        }
    </td>
    <td class="col-md-5">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default disabled" })
    </td>
    <td class="col-md-5">
        @if (Model.Id != 0)
        {
            if ((CurrentMember.AccessLevel == MemberAccessLevels.DIRECTOR) ||
                        (CurrentMember.AccessLevel == MemberAccessLevels.MANAGER && Model.Writer.Store != null && CurrentMember.Store.Id == Model.Writer.Store.Id))
            {
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
            }
            else
            {
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-default disabled" })
            }
        }
    </td>
</tr>
