@model GongChaWebApplication.Models.ItemWeeklyUsageViewModel

@{
    ViewBag.Title = "Item Usage Per Week History";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>@(ViewBag.Title)</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@foreach (var loc in Model.Location)
{
    <fieldset>
        <legend>@Html.Label(loc.Name)</legend>
        @{
    Dictionary<GongChaWebApplication.Models.Item, Dictionary<int, int>> itemDictionary;
    Model.ItemUsageOfLocationOfWeek.TryGetValue(loc, out itemDictionary);
    if (itemDictionary != null)
    {
            <div class="data-div">
                @foreach (var item in Model.Items)
                {
                    Dictionary<int, int> itemUsageDictionary;
                    itemDictionary.TryGetValue(item, out itemUsageDictionary);
                    var dummyStockHistory = new GongChaWebApplication.Models.StockHistory();
                    var itemUsage = 0;
                    var WeekCount = 0;
            
                    <h3 style="padding-left: 30px;">@Html.Label(new GongChaWebApplication.Models.ItemViewModel(item).Label)</h3>
                    <div class="table-responsive">
                        <table class="table table-striped" id="Lcoation@(loc.Id)Item@(item.Id)">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th>Week Number
                                    </th>
                                    <th>Stock Usage
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (itemUsageDictionary != null)
                                {
                                    foreach (var keyValuePair in itemUsageDictionary)
                                    {
                                        var weekStartDate = Model.WeekStartDate[keyValuePair.Key];
                                        var weekEndDate = Model.WeekEndDate[keyValuePair.Key];
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => keyValuePair.Key)
                                            @Html.Raw(" - ")
                                            @Html.Raw(weekStartDate.ToShortDateString())
                                            @Html.Raw(" - ")
                                            @Html.Raw(weekEndDate.ToShortDateString())
                                        </td>
                                        <td>
                                            @{
                                        itemUsage += keyValuePair.Value;
                                        WeekCount++;
                                            }
                                            @Html.DisplayFor(modelItem => keyValuePair.Value)
                                        </td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Record for this item yet.</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Average Usage :</td>
                                    <td>
                                        @if (WeekCount != 0)
                                        {
                                            @Html.Raw(itemUsage / WeekCount)
                                        }
                                        else
                                        {
                                            @Html.Raw(0)
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> 
                }
            </div>
    }
    else
    {
            <div>
                @Html.Raw("No Record is found for this store.")
            </div>
    }
        }
    </fieldset>
}

@section styles{
    @Styles.Render("~/Content/themes/base/css")
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(".data-div").each(function () {
            $(this).accordion();
        });
    </script>
}