@model IEnumerable<GongChaWebApplication.Models.Store>

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_SalesLayout.cshtml";
}

<h1 class="page-header">Sales Reports Dashboard</h1>

<h2>Select Store</h2>

<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="hidden-xs">
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-default btn-block" href="@Url.Action("SalesReport", new { id = item.Id })">@item.Name</a>
                </td>
                <td class="hidden-xs vert-align-middle">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }

    </table>
</div>

<style>
    .table tbody > tr > td.vert-align-middle
    {
        vertical-align: middle;
    }
</style>
