@model GongChaWebApplication.Models.Message

@{
    ViewBag.Title = "Edit Message";
    Layout = "~/Views/Shared/_OperationLayout.cshtml";
}

<h2>@(ViewBag.Title)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Message</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.WriterId, "Writer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WriterId", String.Empty)
            @Html.ValidationMessageFor(model => model.WriterId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTime)
            @Html.ValidationMessageFor(model => model.PostTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditTime)
            @Html.ValidationMessageFor(model => model.EditTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAnnoucement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAnnoucement)
            @Html.ValidationMessageFor(model => model.IsAnnoucement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
